@layer global, component, util;

@layer global {
  /* source-sans-3-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    --font-size-topnav: var(--fs-14);
    --font-size-h1: var(--fs-42);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);
    --font-size-button: var(--fs-18);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-topnav: var(--fs-16);
      --font-size-h1: var(--fs-72);
      --font-size-h2: var(--fs-48);
    }
  }

  :root {
    /* colors */
    --c-neutral-100: hsl(0, 0%, 100%);
    --c-neutral-800: hsl(233, 14%, 25%);
    --c-primary-200: hsl(180, 100%, 42%);
    --c-primary-300: hsl(180, 100%, 37%);
    --c-primary-400: hsl(232, 58%, 55%);
    --c-secondary-400: hsl(320, 85%, 41%);
    --c-transparent: transparent;

    --clr-main-bg: var(--c-neutral-100);
    --clr-text-dark: var(--c-neutral-800);
    --clr-text-light: var(--c-neutral-100);
    --clr-header-bg: var(--c-primary-400);
    --clr-hero-bg: var(--c-primary-400);
    --clr-primary-button-bg: var(--c-primary-200);
    --clr-primary-button-bg-hover: var(--c-primary-300);
    --clr-secondary-button-bg: var(--c-transparent);
    --clr-secondary-button-text: var(--c-primary-400);
    --clr-secondary-button-bg-hover: var(--c-neutral-100);
    --clr-full-width-bg: var(--c-secondary-400);
  }
  ::before,
  ::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: var(--clr-text-dark);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  p {
    text-wrap: balance;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: calc(18 / 16 * 1rem);

    &.medium {
      font-size: calc(20 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(24 / 16 * 1rem);
      }
    }

    &.large {
      font-size: calc(24 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(28 / 16 * 1rem);
      }
    }
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }
}

@layer component {
  .button {
    font-size: var(--font-size-button);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 12px 16px;
    border-radius: 24px;
    transition: 150ms ease-in-out;
    transition-property: background-color, color;
    display: inline-block;

    &.primary {
      background-color: var(--clr-primary-button-bg);
      color: var(--clr-text-dark);
      border: 2px solid var(--clr-secondary-button-bg);

      &:hover {
        background-color: var(--clr-primary-button-bg-hover);
      }
    }

    &.secondary {
      background-color: var(--clr-secondary-button-bg);
      border: 2px solid var(--clr-text-light);
      color: var(--clr-text-light);

      &:hover {
        background-color: var(--clr-secondary-button-bg-hover);
        color: var(--clr-secondary-button-text);
      }
    }
  }

  .topnav {
    background-color: var(--clr-header-bg);

    .topnav__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-block: 12px;
      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 20px;
      }
    }

    .topnav__homelink {
      &:hover {
        opacity: 0.9;
      }
    }

    .topnav__logo {
      width: calc(70 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(128 / 16 * 1rem);
      }
    }

    .topnav__links {
      list-style: none;

      display: flex;
      gap: 20px;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 40px;
      }
    }

    .topnav__item {
    }

    .topnav__link {
      font-size: var(--font-size-topnav);
      font-weight: 700;
      color: var(--clr-text-light);
      text-transform: uppercase;
      letter-spacing: 0.05em;

      &:hover {
        text-decoration: underline 2px;
        text-underline-offset: 4px;
      }
    }
  }
  /* Hero */
  .hero {
    background-color: var(--clr-hero-bg);
    color: var(--clr-text-light);

    .hero__wrapper {
      /* display: flow-root; */
      padding-block: 30px 60px;

      display: grid;

      @media (width >= calc(1000 / 16 * 1rem)) {
        padding-block: 40px 80px;

        grid-template-columns: 6fr 5fr;
        align-items: center;
      }
    }

    .hero__image {
      width: calc(200 / 16 * 1rem);
      margin-block-end: 40px;

      justify-self: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(483 / 16 * 1rem);
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        width: calc(483 / 16 * 1rem);
        margin-block-end: 0;
        order: 2;
        justify-self: end;
      }
    }

    .hero__text {
    }

    .hero__title {
      margin-block-end: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-block-end: 20px;
      }
    }

    .hero__content {
      margin-block-end: 40px;
      max-width: 40ch;
    }

    .hero__buttons {
      display: flex;
      gap: 20px;
    }
  }
}

@layer util {
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip:focus {
      left: 0;
      width: auto;
      height: auto;
      padding: 10px;
      border: 1px solid;
      background-color: #fff;
    }
  }
}
